<mat-form-field>
  <mat-label>Необходимое количество душ</mat-label>
  <input matInput [(ngModel)]="this.default.goalSouls" type="this.type" formControlName="this.formControlName"
      autocomplete="this.autocomplete" />
  <mat-error *ngIf="form.get('goalSouls').hasError('max')">
      Вы же не собираетесь скупить вообще весь портал?
  </mat-error>
  <mat-error *ngIf="form.get('goalSouls').hasError('min') || form.get('goalSouls').hasError('pattern')">
      Хотя бы 100 душ
  </mat-error>
</mat-form-field>