<div class="utility-contaiter">
  <div class="mb-2">
    <button mat-mini-fab color="accent" (click)="this.onChangeLevel(null, false)" [disabled]="!this.level">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-mini-fab color="accent" (click)="this.onChangeLevel(null, true)"
      [disabled]="this.level === null || this.level > this.elem.type.levels - 1">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <mat-label class="mx-2">{{ this.level }}</mat-label>
</div>

<div class="hero-container">

  <div class="cont1">
    <ng-container *ngFor="let item of getData(); index as index">
      <hero-relic *ngIf="index <3" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="onChangeLevel($event, null)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>

  <div class="cont2">
    <ng-container *ngFor="let item of getData(); index as index">
      <hero-relic *ngIf="index > 2 && index < 5" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="onChangeLevel($event, null)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>

  <div class="cont3">
    <ng-container *ngFor="let item of getData(); index as index">
      <hero-relic *ngIf="index > 4 && index < 8" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="onChangeLevel($event, null)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>


  <div class="cont4">
    <ng-container *ngFor="let item of getData(); index as index">
      <hero-relic *ngIf="index > 7 && index < 12" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="onChangeLevel($event, null)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>

  <div class="cont3">
    <ng-container *ngFor="let item of getData(); index as index">
      <hero-relic *ngIf="index > 11 && index <15" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="onChangeLevel($event, null)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>


  <div class="cont4">
    <ng-container *ngFor="let item of getData(); index as index">
      <hero-relic *ngIf="index > 14 && index < 19" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="onChangeLevel($event, null)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>
</div>