<button mat-mini-fab color="accent" (click)="this.onChangeLevel(null, false)" [disabled]="!this.level">
  <mat-icon>remove</mat-icon>
</button>

<mat-label class="mx-2">{{ this.level }}</mat-label>

<button mat-mini-fab color="accent" (click)="this.onChangeLevel(null, true)"
  [disabled]="this.level === null || this.level > this.elem.type.levels - 1">
  <mat-icon>add</mat-icon>
</button>

<div class="d-flex align-items-center">
  <ng-container>
    <hero-relic *ngFor="let item of getData()" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
      (selected)="onChangeLevel($event, null)" [curr_level]="item.curr_level">
    </hero-relic>
  </ng-container>
</div>