:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-self: center;
}

.utility-contaiter {
  width: 100%;
  min-width: 1000px;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  mat-label {
    text-align: center;
    &:nth-child(7) {
      text-align: end;
    }
  }
}

.tab_wrapper {
  display: flex;
  flex-direction: row;
}

.view {
  display: flex;
  width: 710px;
  flex-wrap: wrap;
  > div {
    align-self: center;
  }
  img {
    border: 1px solid;
    border-radius: 50%;
  }
}

.view__item {
  &.selected img {
    box-shadow: 0px 0px 8px 4px mediumblue;
  }
}

.items_conteiner {
  display: flex;
  flex-direction: column;
}
.icon__label {
  display: flex;
  align-items: center;
}

mat-divider[aria-orientation="vertical"] {
  height: 70%;
  padding: 2px;
}
