:host {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.utility-contaiter {
  width: 100%;
  align-self: center;
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  padding: 5px;
  border-radius: 2px;
}

.view {
  display: flex;
  width: 440px;
  flex-wrap: wrap;
  justify-content: space-around;
  > div {
    align-self: center;
  }
  img {
    border: 1px solid;
    border-radius: 50%;
  }
  .active {
    margin-bottom: 10px;
    &:nth-child(n + 11):nth-child(-n + 15) {
      margin-bottom: 20px !important;
    }
  }
}

.view__item {
  &.selected img {
    box-shadow: 0px 0px 0px 4px salmon;
  }
}
