<h2 class="text-center">{{'Hero.Title' | translate}}</h2>
<p class="px-2">{{'Hero.Description' | translate}}</p>


<div class="utility-contaiter mb-2" *ngIf="showHeroPower() as data">
  <div class="mx-2 items_conteiner">
    <mat-label class="mx-2">{{'Hero.Power' | translate}}</mat-label>
    <mat-label class="icon__label"><img height="20"
        [src]="'../../assets/img/hero/power.png'"><b>{{formatToSepString(data.power)}}</b></mat-label>
  </div>

  <mat-divider [vertical]="true"></mat-divider>
  <!--  -->
  <div class="items_conteiner">
    <mat-label>{{'Hero.Spent' | translate}}</mat-label>
    <div class="icon__label">
      <div class="mx-2 items_conteiner">
        <mat-label class="icon__label"><img width="30" [src]="'../../assets/img/hero/coins.png'"><b>{{formatToSepString(
            data.all)}}</b></mat-label>
        <mat-label class="icon__label"> <img width="30"
            [src]="'../../assets/img/hero/ether.png'"><b>{{formatToSepString(5*data.all)}}</b></mat-label>
      </div>
      <mat-icon>east</mat-icon>
      <div class="items_conteiner mx-2">
        <mat-label class="icon__label"> <img width="20" [src]="'../../assets/img/hero/w_coin.png'">
          <b>{{formatToSepString(data['0'])}}</b>
        </mat-label>
        <mat-label class="icon__label"> <img width="20" [src]="'../../assets/img/hero/m_coin.png'">
          <b>{{formatToSepString(data['1'])}}</b>
        </mat-label>
        <mat-label class="icon__label"> <img width="20" [src]="'../../assets/img/hero/a_coin.png'">
          <b>{{formatToSepString(data['2'])}}</b>
        </mat-label>
      </div>
    </div>
  </div>

  <!--  -->
  <mat-divider [vertical]="true"></mat-divider>
  <!--  -->
  <div class="items_conteiner">
    <mat-label>{{'Hero.Left' | translate}}</mat-label>
    <div class="icon__label">
      <div class="mx-2 items_conteiner">
        <mat-label class="icon__label"><img width="30"
            [src]="'../../assets/img/hero/coins.png'"><b>{{formatToSepString(FULL_HERO_COINS - data.all)}}</b>
        </mat-label>
        <mat-label class="icon__label"> <img width="30"
            [src]="'../../assets/img/hero/ether.png'"><b>{{formatToSepString(5*(FULL_HERO_COINS -
            data.all))}}</b></mat-label>
      </div>
      <mat-icon>east</mat-icon>
      <div class="items_conteiner mx-2">
        <mat-label class="icon__label"> <img width="20" [src]="'../../assets/img/hero/w_coin.png'">
          <b>{{formatToSepString(FULL_HERO_COINS/3 - data['0'])}}</b>
        </mat-label>
        <mat-label class="icon__label"> <img width="20" [src]="'../../assets/img/hero/m_coin.png'">
          <b>{{formatToSepString(FULL_HERO_COINS/3 - data['1'])}}</b>
        </mat-label>
        <mat-label class="icon__label"> <img width="20" [src]="'../../assets/img/hero/a_coin.png'">
          <b>{{formatToSepString(FULL_HERO_COINS/3 - data['2'])}}</b>
        </mat-label>
      </div>
    </div>
  </div>

</div>


<mat-tab-group mat-align-tabs="start">

  <mat-tab label="{{'Hero.RelicTab' | translate}}">
    <div class="view mt-4">
      <ng-container *ngFor="let relic of getRelicsToView() index as index">
        <div *ngIf="relic.type.r === 40" class="m-1 view__item active" id="{{index}}" (click)="setEquipedRelics(index)">
          <img [src]="'../../assets/img/'+relic.logo" attr.width="{{relic.type.r*2}}px"
            onError="this.src='../../assets/img/hero/blank.png'">
        </div>
      </ng-container>
    </div>
    <div class="view mt-4">
      <ng-container *ngFor="let relic of getRelicsToView() index as index">
        <div *ngIf="relic.type.r === 35" class="m-1 view__item passive" (click)="setEquipedRelics(index)"
          id="{{index}}">
          <img [src]="'../../assets/img/'+relic.logo" attr.width="{{relic.type.r*2}}px"
            onError="this.src='../../assets/img/hero/blank.png'">
        </div>
      </ng-container>
    </div>
  </mat-tab>


  <ng-container *ngFor="let branch of getData()">
    <mat-tab label="{{branch.name | translate}}">
      <hero-branch (selectedElem)="setSelected($event)" [relics]="branch.data"></hero-branch>
    </mat-tab>
  </ng-container>

</mat-tab-group>