:host {
  display: flex;
  height: 100%;
}

.utility-contaiter {
  height: 100%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: white;
  padding: 5px;
  border-radius: 2px;
  min-width: 100px;
}

.view {
  display: flex;
  width: 400px;
  flex-wrap: wrap;
}
