<div class="hero-container">

  <div class="cont1">
    <ng-container *ngFor="let item of relics; index as index">
      <hero-relic *ngIf="index <3" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>

  <div class="cont2">
    <ng-container *ngFor="let item of relics; index as index">
      <hero-relic *ngIf="index > 2 && index < 5" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>

  <div class="cont3">
    <ng-container *ngFor="let item of relics; index as index">
      <hero-relic *ngIf="index > 4 && index < 8" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>


  <div class="cont4">
    <ng-container *ngFor="let item of relics; index as index">
      <hero-relic *ngIf="index > 7 && index < 12" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>

  <div class="cont3">
    <ng-container *ngFor="let item of relics; index as index">
      <hero-relic *ngIf="index > 11 && index <15" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>


  <div class="cont4">
    <ng-container *ngFor="let item of relics; index as index">
      <hero-relic *ngIf="index > 14 && index < 19" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>


  <div class="cont5">
    <ng-container *ngFor="let item of relics; index as index">

      <hero-relic *ngIf="index ===19" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>

      <hero-relic *ngIf="index ===20" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
      <hero-relic *ngIf="index ===21" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
      <hero-relic *ngIf="index ===22" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>


  <div class="cont5">
    <ng-container *ngFor="let item of relics; index as index">

      <hero-relic *ngIf="index ===23" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>

      <hero-relic *ngIf="index ===24" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
      <hero-relic *ngIf="index ===25" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
      <hero-relic *ngIf="index ===26" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>
  </div>


  <div>
    <ng-container *ngFor="let item of relics; index as index">
      <hero-relic *ngIf="index ===27" id="{{ item.id }}" [logo]="item.logo" [type]="item.type"
        (selected)="setSelectedElem($event)" [curr_level]="item.curr_level">
      </hero-relic>
    </ng-container>

  </div>
</div>