.utility-contaiter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  left: 0;
  z-index: 22;
  background: white;
  padding: 5px;
  border-radius: 2px;
}

.hero-container {
  width: 1470px;
  display: flex;
  flex-direction: row;
  align-items: center;
  div {
    flex: 0 0 130px;
    justify-content: center;
  }
}
[class*="cont"] {
  justify-content: start;
  align-self: stretch;
  > hero-relic {
    &::ng-deep mat-icon::after {
      content: "n";
      width: 44px;
      height: 0px;
      display: block;
      position: relative;
      right: -76px;
      bottom: 30px;
      border-bottom: 1px dashed;
      z-index: -2;
    }
  }
}

.cont1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  > hero-relic:nth-child(1) {
    &::ng-deep mat-icon::after {
      width: 37px;
      right: 4px;
      top: 24px;
      transform: rotate(105deg);
    }
  }
  > hero-relic:nth-child(2) {
    align-self: start;
    // &::ng-deep mat-icon::after {

    // }
  }
  > hero-relic:nth-child(3) {
    &::ng-deep mat-icon::after {
      width: 37px;
      right: 4px;
      bottom: 72px;
      transform: rotate(75deg);
    }
  }
}
.cont2 {
  flex-basis: 210px !important;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;

  > hero-relic:nth-child(1) {
    &::ng-deep mat-icon::after {
      left: 54px;
      top: -22.5px;
    }
  }
  > hero-relic:nth-child(2) {
    &::ng-deep mat-icon::after {
      content: none;
    }
  }
}

.cont3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > hero-relic:nth-child(2) {
    align-self: flex-end;
  }

  > hero-relic:nth-child(1) {
    &::ng-deep mat-icon::after {
      width: 34px;
      right: -17px;
      top: 25px;
      transform: rotate(75deg);
    }
  }

  > hero-relic:nth-child(2) {
    &::ng-deep mat-icon::after {
      content: none;
    }
  }

  > hero-relic:nth-child(3) {
    &::ng-deep mat-icon::after {
      width: 37px;
      right: -24px;
      top: -74px;
      transform: rotate(110deg);
    }
  }
}

.cont4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  > hero-relic:nth-child(n + 2):nth-child(-n + 3) {
    align-self: flex-end;
  }
  > hero-relic:nth-child(1) {
    &::ng-deep mat-icon::after {
      left: 21px;
      top: 24px;
      width: 34px;
      transform: rotate(70deg);
    }
  }
  > hero-relic:nth-child(2) {
    &::ng-deep mat-icon::after {
      left: -107px;
      top: -52px;
      width: 100px;
      transform: rotate(19deg);
    }
  }

  > hero-relic:nth-child(3) {
    &::ng-deep mat-icon::after {
      left: -107px;
      top: 1px;
      width: 100px;
      transform: rotate(-19deg);
    }
  }

  > hero-relic:nth-child(4) {
    &::ng-deep mat-icon::after {
      width: 37px;
      right: -23px;
      top: -74px;
      transform: rotate(110deg);
    }
  }
}

.cont5 {
  display: flex;
  flex-direction: column;
  flex-basis: 220px !important;
  justify-content: space-between !important;

  > hero-relic:nth-child(1) {
    order: 2;
    position: relative;
    height: 0;
    top: calc(-50% - 60px);
    &::ng-deep mat-icon::after {
      width: 44px;
    }
  }

  > hero-relic:nth-child(2) {
    align-self: center;
    &::ng-deep mat-icon::after {
      left: 19px;
      top: 43px;
      width: 87px;
      transform: rotate(65deg);
    }
  }
  > hero-relic:nth-child(3) {
    align-self: flex-end;
    &::ng-deep mat-icon::after {
      content: none;
    }
  }
  > hero-relic:nth-child(4) {
    align-self: center;
    &::ng-deep mat-icon::after {
      width: 87px;
      right: -23px;
      top: -102px;
      transform: rotate(115deg);
    }
  }
}
