<div class="col-12">

    <h2>Калькутор портала</h2>
    <p>Выберите уровень для фарма, жалемое количество яблок и имеющиеся модификаторы</p>
    <form class="form pt-4">
        <mat-form-field>
            <mat-label>Уровень Портала</mat-label>
            <input matInput type="text" value="2" [formControl]="emailFormControl" pattern="\d{1,3}" />

            <!-- <button mat-button *ngIf="false" matSuffix mat-icon-button aria-label="Clear" (click)="value = ''">
            <mat-icon>close</mat-icon>
        </button> -->
            <mat-error
                *ngIf="emailFormControl.hasError('max') || emailFormControl.hasError('min') || emailFormControl.hasError('pattern')">
                Введите уровень от 1 до 125 оО
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Уровень квартала</mat-label>
            <mat-select [(ngModel)]="this.default" name="food">
                <mat-option *ngFor="let levels of this.data.hunters" [value]="levels.value">
                    {{levels.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>



        <mat-form-field appearance="fill">
            <mat-label>Уровень Знамя</mat-label>
            <mat-select [(ngModel)]="this.default" name="food">
                <mat-option *ngFor="let banner of this.data.banner" [value]="banner.value">
                    {{banner.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        

        <mat-form-field appearance="fill">
            <mat-label>Множитель душ</mat-label>
            <mat-select [(ngModel)]="this.default" name="food">
                <mat-option *ngFor="let multiply of this.data.x_buff" [value]="multiply.value">
                    {{multiply.value}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </form>
</div>