<div class="col-12 col-sm-10 col-lg-8 d-flex justify-content-center flex-column">

	<h2 class="text-center">{{ 'Portal.Title' | translate }}</h2>
	<p>{{ 'Portal.Description' | translate }}</p>
	<form class="form pt-4 row" [formGroup]="form">

		<div class="px-2 d-flex flex-column col-12 col-md-4">


			<mat-form-field>
				<mat-label>{{ 'Portal.Level' | translate }}</mat-label>
				<input matInput type="number" formControlName="portalLevel" autocomplete="off" min="0" max="125" />
				<mat-error *ngIf="form.get('portalLevel').hasError('max') || form.get('portalLevel').hasError('min')">
					{{ 'Portal.LevelError' | translate }}
				</mat-error>
			</mat-form-field>

			<mat-form-field>
				<mat-label>{{ 'Portal.Goal' | translate }}</mat-label>
				<input matInput type="number" value="2" formControlName="goalSouls" autocomplete="off" />
				<mat-error *ngIf="form.get('goalSouls').hasError('max')">
					{{ 'Portal.MaxError' | translate }}
				</mat-error>
				<mat-error *ngIf="form.get('goalSouls').hasError('min') || form.get('goalSouls').hasError('pattern')">
					{{ 'Portal.MinError' | translate }}
				</mat-error>
			</mat-form-field>

			<mat-checkbox [(ngModel)]="!!this.default.isStartedSouls" [ngModelOptions]="{standalone: true}" name="checkbox">
				{{ 'Portal.isStartedSouls' | translate }}
			</mat-checkbox>


			<mat-form-field *ngIf="this.default.isStartedSouls">
				<mat-label>{{ 'Portal.StartedSouls' | translate }}</mat-label>
				<input matInput type="number" value="2" formControlName="startedSouls" pattern="\d{1,}" min="0" />
				<mat-error *ngIf="form.get('startedSouls').hasError('max')">
					{{ 'Portal.StartedMaxError' | translate }}
				</mat-error>
				<mat-error *ngIf="form.get('startedSouls').hasError('min') || form.get('startedSouls').hasError('pattern')">
					{{ 'Portal.StartedMinError' | translate }}
				</mat-error>
			</mat-form-field>
		</div>




		<div class="d-flex flex-column justify-content-between col-12 col-md-4 px-2">
			<mat-form-field appearance="fill">
				<mat-label>{{ 'Portal.Hunters' | translate }}</mat-label>
				<mat-select formControlName="hunters" name="hunters">
					<mat-option *ngFor="let levels of getData().hunters; index as i" [value]="levels.value">
						{{ i === 0
						? ("Portal." + levels.viewValue | translate)
						: (("Portal.Selects.Level" | translate) + " "+ i+", "+ ("Portal.Selects.Increased" | translate) + '
						'+levels.viewValue ) }}
					</mat-option>
				</mat-select>
			</mat-form-field>



			<mat-form-field appearance="fill">
				<mat-label>{{ 'Portal.Banner' | translate }}</mat-label>
				<mat-select formControlName="banner" name="banner">
					<mat-option *ngFor="let banner of getData().banner; index as i" [value]="banner.value">
						{{ i === 0
						? ("Portal." + banner.viewValue | translate)
						: (("Portal.Selects.Level" | translate) + " "+ i+", "+ ("Portal.Selects.Increased" | translate) + '
						'+banner.viewValue ) }}
					</mat-option>
				</mat-select>
			</mat-form-field>


			<mat-form-field appearance="fill">
				<mat-label>{{ 'Portal.Multiply' | translate }}</mat-label>
				<mat-select formControlName="multiply" name="multiply">
					<mat-option *ngFor="let multiply of getData().x_buff; index as i" [value]="multiply.value">
						{{ i === 0 ? ("Portal." + multiply.viewValue | translate) : multiply.viewValue }}
					</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="col-12 col-md-4 px-2 flex-column d-flex align-items-center">

			<mat-label class="my-2">
				{{'Portal.'+ this.res[0]| translate}}
				<ng-container *ngIf="this.res.length > 1">
					<b>{{this.res[1]}}</b>
					<img width="30" src="../../assets/img/apples.png">
					<br>
					{{ 'Portal.Result3' | translate }}
					<b>{{this.res[2]}}</b>
					{{ 'Portal.Result4' | translate }}
				</ng-container>

			</mat-label>

			<img width="150" src="../../assets/img/portal.png">
		</div>

	</form>
</div>