<button mat-mini-fab color="accent" (click)="this.onChangeLevel(null ,false)">
  <mat-icon>remove</mat-icon>
</button>

<mat-label class="mx-2">{{this.level}}</mat-label>

<button mat-mini-fab color="accent" (click)="this.onChangeLevel(null, true)">
  <mat-icon>add</mat-icon>
</button>


<div>
  <ng-container>
    <hero-relic *ngFor="let item of relics" id="{{item.id}}" [(level)]="item.level" [logo]="item.logo" [r]="item.r"
      (selected)="onChangeLevel($event, null)">
    </hero-relic>

  </ng-container>
</div>
<!-- <hero-relic id="qqqqqq" [level]="3" [logo]="'def.png'" [r]="40" (selected)="onChangeLevel($event)"></hero-relic>

<hero-relic id="qqqqweq" [level]="3" [logo]="'logo.png'" [r]="60" (selected)="onChangeLevel($event)"></hero-relic>-->

<!-- <hero-relic id="{{relics[1].id}}" [level]="relics[1].level" [logo]="relics[1].logo" [r]="relics[1].r" (selected)="onChangeLevel($event)"></hero-relic> -->