#svg circle {
  transition: stroke-dashoffset 0.5s linear;
  stroke: #666;
  stroke-width: 1em;
}
#svg #bar {
  stroke: #ff9f1e;
  transform: translate(0%, 100%) rotate(-90deg);
}

input {
  color: #000;
}
