/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  height: calc(100% - 60px);
}
*{
  font-family: Montserrat
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~@fontsource/montserrat/500.css";
@import "~@fontsource/montserrat/400.css";
@import "~@fontsource/montserrat/300.css";
